In [180]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.compose import ColumnTransformer
df = pd.read_csv('Salaries.csv')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13520\862149609.py:5: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

In [181]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [182]:
num_col = df.select_dtypes(include='number').columns

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [184]:
df = df.drop(['Notes'],axis=1)

In [185]:
df['Status']=df['Status'].fillna('Unknown')

In [186]:
df.dropna(inplace=True)

In [187]:
df[['BasePay','OvertimePay','OtherPay','Benefits']] = df[['BasePay','OvertimePay','OtherPay','Benefits']].replace('Not Provided','0')
df['Agency'] = df['Agency'].replace('San Francisco',0)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13520\3439336328.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Agency'] = df['Agency'].replace('San Francisco',0)

In [188]:
df[['BasePay','OvertimePay','OtherPay','Benefits','Agency']] = df[['BasePay','OvertimePay','OtherPay','Benefits','Agency']].astype(float)

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 111890 entries, 36159 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                111890 non-null  int64
 1   EmployeeName      111890 non-null  object
 2   JobTitle          111890 non-null  object
 3   BasePay           111890 non-null  float64
 4   OvertimePay       111890 non-null  float64
 5   OtherPay          111890 non-null  float64
 6   Benefits          111890 non-null  float64
 7   TotalPay          111890 non-null  float64
 8   TotalPayBenefits  111890 non-null  float64
 9   Year              111890 non-null  int64
 10  Agency            111890 non-null  float64
 11  Status            111890 non-null  object
dtypes: float64(7), int64(2), object(3)
memory usage: 11.1+ MB

In [ ]:
tfidf = TfidfVectorizer()
val = tfidf.fit_transform(df['JobTitle']).toarray()
tf_df = pd.DataFrame(val,columns=tfidf.get_feature_names_out())
tf_df

   employeename  jobtitle
0           0.0       1.0
1           1.0       0.0

In [191]:
# tfidf.get_feature_names_out()

In [192]:
# tfidf.vocabulary_

In [193]:
# df = pd.DataFrame({'title':['Marvel vs DC','Ironman is greatest of all time','Batman - ____ are brave','I love spiderman']})

In [194]:
# df.head()

In [195]:
df['Agency']

36159     0.0
36160     0.0
36161     0.0
36162     0.0
36163     0.0
         ...
148649    0.0
148650    0.0
148651    0.0
148652    0.0
148653    0.0
Name: Agency, Length: 111890, dtype: float64

In [196]:
# tfidf.fit_transform(df['title']).toarray()

In [197]:
tfidf.get_feature_names_out()

array(['employeename', 'jobtitle'], dtype=object)

In [198]:
tfidf.vocabulary_

{'jobtitle': 1, 'employeename': 0}

In [199]:
scaler = StandardScaler()

In [200]:
num_col = df.select_dtypes(include='number').columns
num_col

tf_df[num_col] = scaler.fit_transform(df[num_col])

ValueError: Length of values (111890) does not match length of index (2)

In [ ]:
encode = LabelEncoder()

In [ ]:
tf_df['Status'] = encode.fit_transform(df['Status'])

In [ ]:
tf_df

,10,100,11,13,14,15,16,18,19,200,...,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.725933,1.418833,18.330286,1.178268,1.256518,5.592266,4.690184,-1.237285,0.0,2
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.725902,5.421017,-0.447636,1.905739,2.907449,4.786881,4.446315,-1.237285,0.0,2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.725871,1.029878,11.998075,9.255750,1.820628,5.076357,4.417713,-1.237285,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.725840,5.291234,-0.447636,1.761742,3.053007,4.654397,4.376510,-1.237285,0.0,2
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.725810,1.374021,15.908983,1.774256,1.257047,5.092178,4.297362,-1.237285,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.730601,-1.547843,-0.447636,-0.454656,-1.633588,-1.484791,-1.551559,1.207633,0.0,1
111886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.730632,-1.547843,-0.447636,-0.454656,-1.633588,-1.484791,-1.551559,1.207633,0.0,2
111887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.730663,-1.547843,-0.447636,-0.454656,-1.633588,-1.484791,-1.551559,1.207633,0.0,2
111888,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.730693,-1.547843,-0.447636,-0.454656,-1.633588,-1.484791,-1.551559,1.207633,0.0,2
111889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.730724,-1.547843,-0.447636,-0.531552,-1.633588,-1.496847,-1.561033,1.207633,0.0,1

In [ ]:
tfidf = TfidfVectorizer()
val = tfidf.fit_transform(df['JobTitle']).toarray()
tf_df = pd.DataFrame(val,columns=tfidf.get_feature_names_out())
tf_df

In [208]:
pre = ColumnTransformer(
    transformers=[
        ('tf-idf',TfidfVectorizer(),'JobTitle'),
        ('scaler',StandardScaler(),num_col)
        
    ]
)
pre.fit_transform(df).toarray()

array([[ 0.        ,  0.        ,  0.        , ...,  4.69018398,
        -1.23728509,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  4.44631517,
        -1.23728509,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  4.41771325,
        -1.23728509,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ..., -1.55155936,
         1.20763316,  0.        ],
       [ 0.        ,  0.        ,  0.        , ..., -1.55155936,
         1.20763316,  0.        ],
       [ 0.        ,  0.        ,  0.        , ..., -1.5610326 ,
         1.20763316,  0.        ]], shape=(111890, 789))